.accordion {
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 400px;
  margin: 20px auto;
  color: black;
}

.accordion-item {
  border-bottom: 1px solid #ccc;
  color: black;
}

.accordion-title {
  padding: 15px;
  cursor: pointer;
  background-color: purple;
  color: black;
  font-weight: bold;
}

.accordion-content {
  padding: 15px;
  background-color: purple;
  color: black;
}
