/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.audiowide-regular {
  font-family: "Audiowide", serif;
  font-weight: 400;
  font-style: normal;
}

.rye-regular {
  font-family: "Rye", serif;
  font-weight: 400;
  font-style: normal;
}

.ribeye-marrow-regular {
  font-family: "Ribeye Marrow", serif;
  font-weight: 400;
  font-style: normal;
}

.judson-regular {
  font-family: "Judson", serif;
  font-weight: 400;
  font-style: normal;
}

.judson-bold {
  font-family: "Judson", serif;
  font-weight: 700;
  font-style: normal;
}

.judson-regular-italic {
  font-family: "Judson", serif;
  font-weight: 400;
  font-style: italic;
}

.carter-one-regular {
  font-family: "Carter One", serif;
  font-weight: 200;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", serif;
  font-weight: 700;
  font-style: normal;
}

.nav {
  position: relative;
  /* width: 80%; */
  color: white;
  /* padding: 1.5rem, 1rem; */
  text-align: center;
  transition: top 0.3s;
}

.sticky {
  position: fixed;
  /* background-color: rgb(0, 161, 161); */
  background: linear-gradient(to bottom right, #00a1a1, rgb(0, 0, 77, 0.9));
  top: 0;
  left: 0;
  /* width: 100%; */
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  padding: 1rem 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
/* 
@media (max-width: 768px) {
  .sticky {
    padding: 1rem 30px;
  }
} */

.accordion {
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 400px;
  margin: 20px auto;
  color: black;
}

.accordion-item {
  border-bottom: 1px solid #ccc;
  color: black;
}

.accordion-title {
  padding: 15px;
  cursor: pointer;
  background-color: purple;
  color: black;
  font-weight: bold;
}

.accordion-content {
  padding: 15px;
  background-color: purple;
  color: black;
}
